h1{
    text-align:right;
}
h2{
    width:300px;
    text-align:center;
}
td{
    text-align:center;
    width: 500px;
}
th{
    text-align:left;
}
p{
    text-align:right, left;
    width: 300px;

}
